@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
body {
    height: 100vh;
    margin: 0 auto;
    font-family:'Poppins', sans-serif;
    color:#2c3e50;
    background-color: #ffffff;
    background-image: url('Photos/background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: #0b1a36;
    display: flex;
    align-items: center;
    padding: 0 40px;
    box-sizing: border-box;
    z-index: 1000;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2);
}

.logo {
    height: 100px;
    width: auto;
}


#home {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 85px;
    margin-bottom: 20px;
}

#home p {
    margin-right: 15px;
    font-weight: 600;
    color: #0b1a36;
}

#btncontainer1 {
    display: inline-flex;
    width: 100%;
    max-width: 600px;
    position: relative;
    border-radius: 10px;
    padding: 0;
    background: rgba(110, 111, 112, 0.2);
}

#btncontainer2 {
    display: block;
    margin: 20px auto 0 auto;
    padding: 12px 28px;
    font-size: 16px;
    font-weight: bold;
    color: #0b1a36;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: all 0.3s ease;
}

#btncontainer2:hover {
    padding: 12px 28px;
    background-color: #030d57;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transform: translateY(-4px); 
    transition: all 0.3s ease;
}

#btncontainer2:active {
  background-color: #8ca7f8;
  transform: translateY(2px) scale(0.96);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.436);
  transition: all 0.3s ease;
}

#butpph, #butpbb {
    flex: 1;
    width: 300px;
    height: 45px;
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
    border: none;
    background: transparent;
    transition: color 0.3s ease;
    cursor: pointer;
    font-size: 14px;
    font-weight: bold;
    color: #0b1a36;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#mainbox {
    width: 100%;
    max-width: 750px;
    min-height: 450px;
    height: auto;
    background-color: rgb(36, 48, 71);
    backdrop-filter: blur(10px) saturate (180%);
    border-radius: 7px;
    padding: 40px;
    box-shadow: 0 8px 24px rgba(0, 0, 0, 0.25), inset 0 0 20px rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    position: relative;
    overflow: hidden;
}

#containerpajak {
    display: flex;
}

.form {
    width: 100%;
    max-width: 700px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 5px;
}

#boxpph, #boxpbb {
    position: absolute;
    top: 20px;
    left: 50%;
    width: 90%;
    max-width: 670px;
    height: calc(100% - 40px);
    transform: translateX(-50%);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.7s ease-in-out, visibility 0.7s ease-in-out;
}

p {
    font-size: 18px;
    color: #e4e6eb;
}

.theinput {
    width: 278px;
    height: 50px;
    margin: 10px 0;
    font-size: 15px;
    font-family:'Poppins', sans-serif;
    color: #0c1a28;
    font-weight: bolder;
    border-radius: 10px;
    border: 1.4px solid rgba(0, 0, 0, 0.4);
    background-color: rgba(255, 255, 255, 0.4);
    padding: 0 15px;
    box-sizing: border-box;
    text-align: left;
}

.theinput:focus{
    outline: none;
    box-shadow: 0 0 10px #e4e6eb;
    border: 1px solid #e4e6eb;
    transition: box-shadow 0.15s ease, border-color 0.15s ease;
}

#result {
    text-align: center;
    font-size: 18px;
}


button {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    font-size: 16px;
    background-color: rgba(255, 255, 255, 0.2);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.4);
    cursor: pointer;
}

#butpph {
    border-radius: 10px 0 0 10px;
}

#butpbb {
    border-radius: 0 10px 10px 0;
}

#slider {
    background: #8ca7f8;
    width: 50%;
    height: 45px;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 0;
    opacity: 0;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 100000; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}

.modal-content {
  background-color: #ffffff;
  margin: 15% auto;
  padding: 30px;
  border-radius: 12px;
  width: 450px;
  max-width: 85%;
  box-shadow: 0 10px 25px rgba(0,0,0,0.3);
  position: relative;
  text-align: center;
  font-family: sans-serif;
  animation: popupMuncul 0.3s ease-out;
}

.closebtn {
  position: absolute;
  right: 20px;
  top: 15px;
  font-size: 28px;
  font-weight: bold;
  cursor: pointer;
  color: #aaa;
  transition: color 0.2s;
}
.closebtn:hover {
  color: #d81d1d;
}

#result {
  font-size: 16px;
  color: #2b2b2b;
  font-weight: bold;
  line-height: 1.6;
  margin-top: 10px;
}